@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Layout = null;
}
<div class="footer-top-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @Html.Sitecore().Placeholder("Col1Footer")
            @Html.Sitecore().Placeholder("Col2Footer")
            @Html.Sitecore().Placeholder("Col3Footer")
            @Html.Sitecore().Placeholder("Col4Footer")
        </div>
    </div>
</div> <!-- End footer top area -->